/* Server list */
.scroller-1Bvpku,
.childWrapper-anI2G9 {
  background-color: var(--dotfiles-colorscheme-base-01);
}

/* Servers with only an acronym */
.childWrapper-anI2G9 {
  background-color: var(--dotfiles-colorscheme-base-02);
}

/* Channel, member, and DM list */
.container-3w7J-x,
.members-1998pB,
.members-1998pB > div,
.searchBar-6Kv8R2,
.scroller-1JbKMe {
  background-color: var(--dotfiles-colorscheme-bg);
}

/* Folders */
.expandedFolderBackground-1cujaW,
.folder-1hbNCn,
.folder-1hbNCn.hover-qTxTR_ {
  background-color: var(--dotfiles-colorscheme-base-02);
}

/* Friends list */
.theme-dark .container-1D34oG {
  background-color: var(--dotfiles-colorscheme-base-01);
}

/* Online, all, etc tabs */
.side-8zPYf6 .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ,
.topPill-30KHOu .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ {
  background-color: var(--dotfiles-colorscheme-selection-bg);
}
.brand-1Zl8en.item-PXvHYJ,
.themed-OHr7kt.item-PXvHYJ {
  background-color: var(--dotfiles-colorscheme-base-01);
}
.side-8zPYf6 .themed-OHr7kt.item-PXvHYJ:hover:not(.disabled-1Hwwfb),
.topPill-30KHOu .themed-OHr7kt.item-PXvHYJ:hover:not(.disabled-1Hwwfb) {
  background-color: var(--dotfiles-colorscheme-selection-bg);
}

/* Friends list > Now Playing */
.container-lRFx4q {
  background-color: var(--dotfiles-colorscheme-bg);
}
.wrapper-3D2qGf {
  border: 2px solid var(--dotfiles-colorscheme-base-02);
  background-color: var(--dotfiles-colorscheme-base-01);
}
.section-2gLsgF {
  background-color: var(--dotfiles-colorscheme-base-02);
}
