/* Stickers & Server Boost */
.theme-dark .tierHeaderUnlocked-3lTDnP,
.wrapper-18yWki,
.theme-dark .tierHeaderLocked-3S508x {
  background-color: var(--dotfiles-colorscheme-base-01);
}
.theme-dark .tierBody-3aUxuc {
  background-color: var(--dotfiles-colorscheme-base-02);
}

/* Server Template */
.descriptionBox-1EKQKL {
  background-color: var(--dotfiles-colorscheme-base-01);
}

/* Community */
.featureCard-1RR4Tl {
  background-color: var(--dotfiles-colorscheme-base-01);
}
